<% layout('layouts/boilerplate') %>

    <body>
        <h3>Create a New Listing</h3>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="listing[title]" required novalidate>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" name="listing[description]" rows="4" required novalidate></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input type="file" class="form-control" id="image" name="listing[image]">
            </div>
                   
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="text" class="form-control" id="price" name="listing[price]" min="0" step="0.01" required novalidate>
            </div>
            
            <div class="mb-3">
                <label for="country" class="form-label">Country:</label>
                <input type="text" class="form-control" id="country" name="listing[country]" required novalidate>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="location" name="listing[location]" required novalidate>
            </div>
            
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </body>